@use "../abstracts/variables" as *;

.profile,
.category {
  border-radius: 14px;
  overflow: hidden;
}

.dashboard {
  display: grid;
  gap: 1.5rem;
  margin-top: 5rem;

  &__categories {
    display: grid;
    gap: 1.5rem;
  }

  @media (min-width: $tablet-width) {
    &__categories {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.875rem;

    &__profile {
      width: 16rem;

      .profile__info {
        height: 60%;
        flex-direction: column;
      }
    }

    &__categories {
      grid-template-columns: repeat(3, 1fr);
      gap: 1.875rem;

      .category {
        width: 16rem;
        height: 15.125rem;

        &__banner {
          height: 20%;
        }

        &__info {
          height: 80%;
        }

        &__time-monitor {
          flex-direction: column;
          align-items: flex-start;
          gap: 0.5rem;
          margin-top: 1.2rem;
        }
      }
    }
  }
}

// Profile
.profile {
  background-color: $color-dark-blue;

  &__info {
    background-color: $color-profile;
    border-radius: 14px;
    display: flex;
    padding: 1.875rem 1.75rem;
    gap: 10px;

    @media (min-width: $desktop-width) {
      height: 67.5%;
    }
  }

  &__image {
    width: 4rem;
    height: 4rem;
    padding: 2px;
    border-radius: 50%;
    background-color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }

    @media (min-width: $desktop-width) {
      width: 5.25rem;
      height: 5.25rem;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
    height: 100%; // Increase height

    @media (min-width: $desktop-width) {
      margin-top: 2.375rem;
    }
  }

  &__navigation {
    display: flex;
    justify-content: center;

    @media (min-width: $desktop-width) {
      justify-content: center;
      align-items: center;

      .navigation__list {
        padding: 1.75rem 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;

        li {
          width: 100%;

          button {
            width: 100%;
            text-align: left;
          }
        }
      }
    }
  }
}

.navigation {
  &__list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; // Ensure alignment
  }
}

// Category
.category {
  height: 10rem;
  position: relative;
  border-radius: 14px;
  overflow: hidden;

  &__banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%; // Adjust based on design
    z-index: 1;
  }

  &__icon {
    position: absolute;
    right: 1rem;
    top: -0.5rem;
  }

  &__info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $color-dark-blue;
    padding: 1.875rem 1.75rem;
    z-index: 2;
    border-radius: 14px 14px 0 0;
    margin-bottom: -2px; // Fixes 1px gap issue
    transition: 200ms ease-out;

    &:hover {
      background-color: $color-hover-dark-blue;
      transition: 200ms ease-out;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  &__time-monitor {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $tablet-width) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__options {
    background: none;
    border: none;
    cursor: pointer;
    transition: color 200ms ease-out;

    &:hover {
      color: $color-pale-blue;
    }
  }

  @media (min-width: $tablet-width) {
    height: 12.5rem;
  }
}

// Banners
.category--work {
  background-color: $color-work;
}

.category--play {
  background-color: $color-play;
}

.category--study {
  background-color: $color-study;
}

.category--exercise {
  background-color: $color-exercise;
}

.category--social {
  background-color: $color-social;
}

.category--self-care {
  background-color: $color-self-care;
}
